sudoku.local:80 {
    root * /var/web
    file_server
    # Proxy standard HTTP requests
    reverse_proxy /api/* backend:8001
    
    # Proxy WebSocket requests specifically
    reverse_proxy /ws* backend:8080 
}